
body {
    background-color:papayawhip;
    width:1200px;
    height:800px;

}

fieldset{
    margin:auto;
    width:400px;
    background:gray;
    border:2px black solid;
}

table {
    margin:10px -10px;
}

td ,tr{
margin:2px;
}

.reizrekins {
    width:99%;
    margin:auto;
}
.kaste {
    padding:5px;
    float:left;
    margin:10px;
    background: yellowgreen;
    border-radius:20px;
}



