body {
    margin:auto;
    width:1200px;
    height:800px;
    background:gray;
}
.viens button{
    width: 100px;
    height:100%;
    box-shadow:1px 1px 1px rgba(31,122,21,11);
}
.viens ul {
    list-style-type:none;
    padding:0;
    margin:auto;
    width:100px;
}
.bloks {
    border-radius:5px;
    background:#3399ff;
    margin:20px auto;
    width:60%;
    height:20%;
}
.bloks .viens li {
    display:block;
    margin: 2px auto;
    width:99%;
}


.clear {
    width:100%;
    margin:10px;
}

.garais{
    width:auto;
    height:2em;
    margin-left:auto;
    list-style-type:none;

}

.garais li {
    float:left;
}

